@import "include.scss";

// Override variables
$primary:	#00b0ff;
$enable-shadows: true;
$enable-gradients: true;

$dark-purple: #428;
$theme-colors: (
    "accent": #bc0000
);

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


// Custom Style
.header {
    background-color: rgba(33, 37, 41, 0.9);
    .navbar-nav .nav-item a {
        position: relative;
        &::before {
            content: "";
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            display: block;
            position: absolute;
            background-color: theme-color("accent");
            @include prefix(transition, all .4s 0s cubic-bezier(0.19, 1, 0.22, 1));
        }
        &:hover::before {
            width: 100%;
        }
    }
}

#head-profile {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.section {
    margin-bottom: 20px;
}
h1 {
    font-weight: 300;
}
ul.link-list {
    li {
        display: inline-block;
        margin-right: 2em;
    }
}
