doctype html
html(lang="ja")
  head
    title cordx.net
    meta(charset="utf-8")/
    meta(name="viewport",content="width=device-width, initial-scale=1")/
    //- Styles
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Cuprum|Noto+Serif+SC|Raleway")/
    link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.7.2/css/all.css",integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr",crossorigin="anonymous")/
    link(rel="stylesheet",href="/css/cordx.css")/
    //- Scripts
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(src="/js/cordx.js")


  body(data-spy="scroll" data-target="#header-nav" data-offset="80")
    .header.navbar.navbar-expand-md.navbar-dark.sticky-top
      .container.pt-1.pb-1
        a.navbar-brand(href="https://cordx.net/") cordx.net
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#header-nav")
          span.navbar-toggler-icon
        #header-nav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.pl-4.pr-4(href="#profile") Profile
            li.nav-item
              a.nav-link.pl-4.pr-4(href="#works") Works
            li.nav-item
              a.nav-link.pl-4.pr-4(href="#contact") Contact

    #head-profile.jumbotron-fluid.section.bg-light
      .container
        .row
          .col-md-3.text-center
            //img.profile-img(src="https://github.com/cordx56.png", style="height: 140px;")/
          .col-md-9.pt-4
            h1 Kaoru @cordx56
            ul.list-unstyled.list-inline
              li.list-inline-item.mr-4
                h5
                  a(href="https://github.com/cordx56", target="_blank")
                    i.fab.fa-github
                    |  GitHub
              li.list-inline-item.mr-4
                h5
                  a(href="https://twitter.com/cordx56", target="_blank")
                    i.fab.fa-twitter
                    |  Twitter
              li.list-inline-item
                h5
                  a(href="mailto:cordx56@cordx.net")
                    i.far.fa-envelope
                    |  email

    .container
      .row.section
        .col-lg-7
          h1#profile Profile
          table.table
            tbody
              tr
                th(colspan="99")
                  h3 Kaoru Chisen
              tr
                th.text-right.align-middle
                  i.fas.fa-wrench(style="font-size: 2em;")
                td 
                  p Programming lang.
                  ul
                    li Go
                    li Python
                    li PHP
                  p Environment
                  ul
                    li
                      p Arch Linux
                      | Terminal
                      ul
                        li zsh
                        li byobu(tmux)
                      | Editor
                      ul
                        li Vim
                        li Visual Studio Code
                    //li
                      p Windows
                      | Editor
                      ul
                        li Visual Studio Code
                        li Notepad++
              tr
                th.text-right.align-middle
                  i.fas.fa-users(style="font-size: 2em;")
                td 
                  p 
                    a(href="http://digicre.net/", target="_blank") Digicre
                  p
                    a(href="http://sitcsjo.web.fc2.com/",target="_blank") College Society Jazz Orchestra
              tr
                th.text-right.align-middle
                  i.fas.fa-heart(style="font-size: 2em;")
                td 
                  p 
                    a(href="https://scrapbox.io/cordx56/Likes", target="_blank") more likes &raquo;
              tr
                th.text-center(colspan="99")
                  i.far.fa-id-card(style="font-size: 2em;")
              tr
                td 2017-
                td Undergraduate student at Shibaura Institute of Technology, Information Science and Engineering


        .col-lg-5
          h1#works Works
          h3 Web
          ul
            li
              h4
                a(href="http://hongomc.net/",target="_blank") hongomc.net
                |  (2014-2016)
              p Hongo Microcomputer Club webpage
            li
              h4
                a(href="http://sitcsjo.web.fc2.com/",target="_blank") CSJO Web
                |  (2018)
              p College Society Jazz Orchestra webpage
          h3 Slides, Others
          ul
            li
              h4 
                a(href="https://speakerdeck.com/cordx56/basic-lecture-of-git-and-github", target="_blank") Git/GitHub基礎講座
              p basic lecture of Git &amp; GitHub<br />デジクリ Git/GitHub基礎講座
          h4 
            a(href="https://scrapbox.io/cordx56/Works", target="_blank") more works &raquo;
          //h4 
            a(href="/works/") more works &raquo;

          h1#contact.mt-4 Contact / Link
          ul.list-unstyled.ml-4
            li
              h5
                a(href="https://github.com/cordx56", target="_blank")
                  i.fab.fa-github
                  |  @cordx56
            li
              h5
                a(href="https://twitter.com/cordx56", target="_blank")
                  i.fab.fa-twitter
                  |  @cordx56
            li
              h5
                a(href="mailto:cordx56@cordx.net")
                  i.far.fa-envelope
                  |  cordx56@cordx.net
            li
              h5
                i.fab.fa-slack
                |  @cordx56
                
    .footer.container-fluid.bg-dark.text-light.pt-2.pb-2
      .row
        .col.text-center
          ul.list-unstyled.list-inline
            li.list-inline-item.mr-4
              a(href="https://scrapbox.io/cordx56/", target="_blank")
                i.far.fa-sticky-note
                |  Scrapbox
            li.list-inline-item
              a(href="http://yuu056.hatenablog.com/", target="_blank")
                i.fas.fa-rss
                |  Blog
      .row
        .col.text-center
          | Copyright 2019 cordx56 all rights reserved.
